---
// import menu from '../Helpers/menu.js';
import menu from '../Helpers/menu.js';

const path = '/';


export interface Props {
  page: string;
}

const { page } = Astro.props as Props;
---

<header class="main-header" id="main-header">
  <div class="main-header__container">
    <a href={path} id="Logo">
      <img src={`${path}img/logo-dark1.png`} alt="Logo" />
    </a>
    <nav class="main-nav">
      <button class="hamburger hamburger--collapse toggle-menu" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <ul class="main-menu">
        {
          menu.map((link) => (
            <li
              class={`main-menu__item ${page === link.title ? 'selected' : ''}`}
            >
              <a class="main-menu__link" href={`${path}${link.url}`}>
                {link.title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <div class="aside">
      <div class="car-content">
        <img src={`${path}img/car.svg`} alt="var">
        <div class="cart-count">1</div>
      </div>
      <button class="btn btn-dark">
        Cursos
      </button>
    </div>
  </div>
</header>

<script>
  const toggle = document.querySelector('.hamburger');
  toggle.addEventListener('click', (e) => {
    toggle.classList.toggle('is-active');
    toggle.nextElementSibling.classList.toggle('is-active');
  });
</script>
