---
import Card from "../components/Card.astro";


const path = import.meta.env.PROD
  ? `${import.meta.env.SITE}${import.meta.env.BASE_URL}`
  : `${import.meta.env.BASE_URL}`;
---

<section class="section Courses" id="Cursos">
  <div class="Courses__container Courses__header col-2">
    <h2>Nuestros Cursos</h2>
    <button class="btn btn-light">Todos los cursos</button>
  </div>
  <div class="Courses__container col-3">
    <Card
      image = {`${path}img/course1.png`}
      title = "Curso uno"
      body = 'Lorem ipsum dolor sit amet, consectere adipiscing elit. Feugiat feugiat congue viverra facilisis.'
      price = '3000'
    />
    <Card
      image = {`${path}img/course2.png`}
      title = "Curso dos"
      body = 'Lorem ipsum dolor sit amet, consectere adipiscing elit. Feugiat feugiat congue viverra facilisis.'
      price = '3000'
    />
    <Card
      image = {`${path}img/course3.png`}
      title = "Curso tres"
      body = 'Lorem ipsum dolor sit amet, consectere adipiscing elit. Feugiat feugiat congue viverra facilisis.'
      price = '3000'
    />
  </div>
</section>
