---
import "../scss/styles.scss"
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const path = import.meta.env.PROD
  ? `${import.meta.env.SITE}${import.meta.env.BASE_URL}`
  : `${import.meta.env.BASE_URL}`;

export interface Props {
  title: string;
  page: string;
}

const { title, page } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpg" href={`${path}/favicon.jpg`} />
		<meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href={`${path}/icons.css`}>

		<title>{title}</title>
	</head>
	<body>
    <Header page={page} />
    <!-- <i class="fa-solid fa-thumbs-up fa-5x"></i> -->
		<slot />
    <Footer/>
    <a href="#inicio" class="totop" id="totop">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.01 4"><path class="cls-1" d="M6.28.05a.51.51,0,0,1,.45,0l6,3a.5.5,0,0,1,.23.67.51.51,0,0,1-.67.23h0L6.5,1.06.73,4a.51.51,0,0,1-.68-.22.5.5,0,0,1,.22-.67h0Z"/></svg>
    </a>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	/* html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	} */
</style>
<script src={`${path}js/script.js`}></script>
